# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\HP\Desktop\JAVA\java-lessons\code-lessons\JAVA CORE\Tasks\CBAR Currency XML Parser\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
